body{
  font-family: Arial, sans-serif;
  background:#121212;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  background:#1e1e1e;
  padding:25px;
  border-radius:12px;
  width:400px;
  box-shadow:0 0 15px rgba(0,0,0,0.5);
}

h1{
  text-align:center;
}

.balance{
  text-align:center;
  margin-bottom:20px;
}

.summary{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.summary div{
  background:#2b2b2b;
  padding:10px;
  border-radius:8px;
  width:45%;
  text-align:center;
}

.form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, select, button{
  padding:12px;
  border:none;
  border-radius:6px;
  font-size:16px;
}

button{
  background:#00b894;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#00997a;
}

ul{
  list-style:none;
  padding:0;
}

li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#2b2b2b;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
}

.income{
  border-left:5px solid #00e676;
}

.expense{
  border-left:5px solid #ff5252;
}

li button{
  background:red;
  padding:5px 10px;
  margin-left:10px;
}